In [1]:
# Import packages
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Load data
data = pd.read_excel('../data/raw/boreholes.xlsx')
print(data.shape)

(6624, 61)

In [3]:
# Take Groningen
df = data[data['Provincie Naam'] == 'Groningen']
df.reset_index(drop=True, inplace=True)
print(df.shape)

# Pick columns
columns_to_pick = [
    'Boorgatnaam',
    'X Rijksdriehoek',
    'Y Rijksdriehoek',
    'X TM5_ED50',
    'Y TM5_ED50',
    'X UTM31_ED50',
    'Y UTM31_ED50',
    'X UTM31_WGS84',
    'Y UTM31_WGS84',
]
df = df[columns_to_pick]
print(df.shape)

# Rename columns
rename_dict = {
    "Boorgatnaam": "name", 
    "X Rijksdriehoek": "X RD coords",
    "Y Rijksdriehoek": "Y RD coords",
    }
df.rename(columns=rename_dict, inplace=True)

(633, 61)
(633, 9)

In [4]:
df

,name,X RD coords,Y RD coords,X TM5_ED50,Y TM5_ED50,X UTM31_ED50,Y UTM31_ED50,X UTM31_WGS84,Y UTM31_WGS84
0,ALLARDSOOG-01,216924,568460,587913,5884337,721798,5888662,721706,5888451
1,ALLARDSOOG-01-SIDETRACK1,216924,568460,587913,5884337,721798,5888662,721706,5888451
2,AMSWEER-01,256193,591550,627042,5907638,760282,5913062,760190,5912850
3,AMSWEER-02,256474,591487,627324,5907576,760565,5913008,760473,5912797
4,AMSWEER-03,256404,591485,627254,5907574,760495,5913004,760403,5912792
...,...,...,...,...,...,...,...,...,...
628,ZUIDWENDING ZOUT-05,258215,567221,629199,5883327,763119,5888805,763027,5888594
629,ZUIDWENDING ZOUT-06,258333,567443,629316,5883549,763230,5889031,763138,5888819
630,ZUIDWENDING ZOUT-07,258464,567666,629446,5883773,763353,5889258,763262,5889047
631,ZUIDWENDING ZOUT-08,258870,567877,629850,5883986,763752,5889483,763660,5889271
632,ZUIDWENDING ZOUT-09,258577,567886,629557,5883993,763459,5889482,763367,5889271

In [5]:
path = "../data/interim/groningen_coords.csv"

df.to_csv(path, index=False)